<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app1">
    <h1 ref="heading" v-text="title"></h1>
    <button @click="show" ref="myButton">Show Paragraph</button>
    <input type="text" v-model="title">
    <p v-if="showParagraph">This is not always visible</p>
</div>

<div id="app2">
    <h1>{{ title }}</h1>
    <button @click="onChange">Change something in vue 1</button>
</div>

<script>
    var vm1 = new Vue({
        el: '#app1',
        data: {
            title: 'The VueJS Instance',
            showParagraph: false
        },
        updated () {
          console.log('updated');
        },
        mounted () {


            console.log('mounted');
        },
        methods: {
            show: function () {
                this.showParagraph = true;
                this.updateTitle('The VueJS Instance (Updated)');
                this.$refs.myButton.innerText = 'Test';
            },
            updateTitle: function (title) {
                this.title = title;
            }
        },
        computed: {
            lowercaseTitle: function () {
                return this.title.toLowerCase();
            }
        },
        watch: {
            title (v) {
                console.log(v);
            }
        }
    });

    vm1.$refs.heading.innerText = 'something else';


    setTimeout(function() {
        vm1.title = 'Change by Timer';
        vm1.show();
    }, 3000);

    var vm2 = new Vue({
        el: '#app2',
        data: {
            title: 'The second Instance'
        },
        methods: {
            onChange: function() {
                vm1.title = 'Changed!';
            }
        }
    });
</script>